// fonts

$saira: 'Saira', sans-serif;
$avenir: 'AvenirNext', sans-serif;

$main-font: $avenir;
$second-font: $saira;

// colors

$black: #000000;
$white: #ffffff;


$grey-light: #2E2F33;
$grey: #28292C;
$grey-dark: #212224;
$grey-darker: #1E1E21;
$grey-darkest: #0C0C0C;


$blue-light: #77AEFF;
$blue: #1C68D6;
$blue-dark: #1753AA;

$red: #E63739;
$red-dark: #CA3638;

$green: #4caf50;
$yellow: #F5A623;
